<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<appender name="JsonFileAppender" type="log4net.Appender.FileAppender,log4net">
		<file value="C://Log//log.json" />
		<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts, Core" ></layout>
	</appender>

	<appender name="SqlServerAppender" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		<connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=1.0.0.0,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5"/>
		<connectionString value="Data Source=YAZILIM\SQLEXPRESS;Initial Catalog=Msdi_2020_Db;Integrated Security=true;" />
		<!--<connectionString value="Data Source=YAZILIM\SQLEXPRESS;Initial Catalog=Msdi_2020_Db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
		<commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />

		<parameter>
			<parameterName value="@logDetail" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts, Core" />
		</parameter>

		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
		</parameter>

		<parameter>
			<parameterName value="@audit" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" value="%level" />
		</parameter>
	</appender>

	<logger name="JsonFileLogger">
		<level value="All" />
		<appender-ref ref="JsonFileAppender" />
	</logger>

	<logger name="DatabaseLogger">
		<level value="All" />
		<appender-ref ref="SqlServerAppender" />
	</logger>
</log4net>



<!--<?xml version="1.0" encoding="utf-8" ?>

<log4net>
	<appender name="JsonFileLogger" type="log4net.Appender.FileAppender,log4net">
		<file value="C://Log//log.json" />
		<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts, Core" ></layout>
	</appender>
	<appender name="DatabaseLogger" type="MicroKnights.Logging.AdoNetAppender, MicroKnights.Log4NetAdoNetAppender">
		<bufferSize value="1" />
		--><!--<connectionType value="System.Data.SqlClient.SqlConnection,System.Data.SqlClient,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089" />--><!--
		<connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=1.0.0.0,Culture=neutral,PublicKeyToken=23ec7fc2d6eaa4a5"/>
		<connectionString value="Data Source=YAZILIM\SQLEXPRESS;Initial Catalog=Msdi_2020_Db;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		
		<commandText value="INSERT INTO Logs ([Detail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />
		<parameter>
			<parameterName value="@logDetail" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout, Core" />
		</parameter>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
		</parameter>
		<parameter>
			<parameterName value="@audit" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout" value="%level" />
		</parameter>
	</appender>

	<root>
		<level value="DEBUG"/>
		<appender-ref ref="JsonFileLogger"/>
		<appender-ref ref="DatabaseLogger"/>

	</root>

</log4net>-->

<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>

		-->
<!--Json Log Folder-->
<!--
		<appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
			<file value="C://Log//syslog.json" />
			<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts" />
		</appender>

		-->
<!--Sql Server-->
<!--
		<appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />

			-->
<!--Connection Type-->
<!--
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />

			-->
<!--Connection String-->
<!--
			-->
<!--<connectionString value="data source=192.168.40.15;initial catalog=KY_TaskManagement_2020_Db;user id=sa;password=Antalya2020xyz;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
<!--

			<connectionString value="data source=.\sqlexpress;initial catalog=Msdi_2020_Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient"/>

			-->
<!--Table-->
<!--
			<commandText value="INSERT INTO Logs ([Detail],[Audit],[RegisterDate]) VALUES (@logDetail,@audit,@log_date)" />

			-->
<!--Detail Column-->
<!--
			<parameter>
				<parameterName value="@logDetail" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts" />
			</parameter>

			-->
<!--Date Column-->
<!--
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
			</parameter>

			-->
<!--Audit Column-->
<!--
			<parameter>
				<parameterName value="@audit" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout" value="%level" />
			</parameter>
		</appender>


		-->
<!--Loggers-->
<!--

		-->
<!--Json Logger-->
<!--
		<logger name="JsonFileLogger">
			<level value="ALL" />
			<appender-ref ref="JsonFileAppender" />
		</logger>

		-->
<!--Sql Logger-->
<!--
		<logger name="DatabaseLogger">
			<level value="All" />
			<appender-ref ref="SqlServerAppender" />
		</logger>

	</log4net>
</configuration>-->