<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>


		<!--Json Log Folder-->

		<appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
			<file value="C://Log//syslog.json" />
			<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts" />
		</appender>

		<!--Sql Server-->
		<appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
			<bufferSize value="1" />

			<!--Connection Type-->
			<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<!--Connection String-->
			<!--<connectionString value="data source=192.168.40.15;initial catalog=KY_TaskManagement_2020_Db;user id=sa;password=Antalya2020xyz;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
			<connectionString value="data source=.\sqlexpress;initial catalog=Msdi_2020_Db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"  providerName="System.Data.SqlClient"/>

			<!--Table-->

			<commandText value="INSERT INTO Logs ([Detail],[Audit],[RegisterDate]) VALUES (@logDetail,@audit,@log_date)" />
			
			<!--Detail Column-->
			<parameter>
				<parameterName value="@logDetail" />
				<dbType value="String" />
				<size value="4000" />
				<layout type="Msdi.Core.CrossCuttingConcerns.Logging.Log4net.Layouts" />
			</parameter>
			
			<!--Date Column-->
			<parameter>
				<parameterName value="@log_date" />
				<dbType value="DateTime" />
				<layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
			</parameter>
			
			<!--Audit Column-->

			<parameter>
				<parameterName value="@audit" />
				<dbType value="String" />
				<size value="50" />
				<layout type="log4net.Layout.PatternLayout" value="%level" />
			</parameter>
		</appender>
		
		
		<!--Loggers-->
		
		<!--Json Logger-->
		<logger name="JsonFileLogger">
			<level value="ALL" />
			<appender-ref ref="JsonFileAppender" />
		</logger>

		<!--Sql Logger-->
		<logger name="DatabaseLogger">
			<level value="All" />
			<appender-ref ref="SqlServerAppender" />
		</logger>

	</log4net>
</configuration>